*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Poppins;
}
.tittle{
	background-color: #99CCFF;
	height: 300px;
}
.tittle h1, p{
	text-align: center;	
	margin: 0;
  	position: relative;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	color: white;
}
.big-tittle{
	font-size: 40px;
	font-weight: 700;
}
.small-tittle{
	font-size: 20px;
	font-weight: 200;
}
.flex-box{
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.flex-box > .kolom-1,
.flex-box > .kolom-2,
.flex-box > .kolom-3{
	margin: 40px;
}
.web-browser{
	padding-bottom: 20px;
	font-weight: 700;

}
th i{
	padding: 5px;
}
.fab,
.fa-video,
.fa-kiwi-bird,
.far,
.fa-infinity{
	font-size: 25px;
	color: skyblue;
}
th h3{
	margin-left: 15px;
	color: black;
	font-size: 16px;
	font-weight: 400;
}
th button{
	margin-left: 30px;
	width: 30px;
	height: 30px;
	transform: rotate(90deg);
	color: skyblue;
	border: 1px solid skyblue;
	background-color: white;
	transition-duration: 0.4s;

}
th button:hover{
	color: green;
	border: 1px solid green;
	background-color: white;
	cursor: pointer;
}
.copyright{
	position: absolute;
	margin-top: 40px;
	height: 100px;
	width: 100%;
	background-color: skyblue;
}
.hakcipta{
	display: flex;
	justify-content: center;
	color: white;
	margin-top: 20px;
}
.fa-copyright{
	color: white;
	font-size: 12px;
}
h6{
	font-weight: 200;
}
.fa-instagram,
.fa-facebook,
.fa-github,
.fa-whatsapp{
	color: white;
	font-size: 20px;
	width: 60px;
}